name: CI

on:
  pull_request:
    branches: ["master"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test-lint:
    name: Lint, Build, Test (with coverage)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Go env
        run: |
          go version
          go env

      - name: Check formatting
        run: make fmt-check

      - name: Lint (Makefile)
        run: make lint

      - name: Build app
        run: make build

      - name: Test
        run: make test

